@model PostFormModel

<div class="section">
    <div class="color-overlay"></div>
    <div class="wrapper col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <form method="post" enctype="multipart/form-data">
            <div class="logo">
                <img src="~/lib/Images/logo.png" alt="">
            </div>
            <div class="text-center mt-4 name">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="form-group">
                <label asp-for=Title>Title<span class="text-danger">*</span></label>
                <input asp-for="Title" class="form-control" placeholder="Best trainer...">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            @if (ViewBag.ButtonName == "Edit")
            {
                @if (Model.Photos.Count > 0)
                {
                    <div>
                        <div class="form-group">
                            <a class="text-dark" id="edit-image">Edit old photos</a>
                        </div>
                        <div class="img-editor form-group display-none">
                            <partial name="_EditPhotosPartial" model="Model.Photos" />
                        </div>
                    </div>
                    
                }
                
            }
            
            <div class="form-group">
                <label asp-for="Files">Photos</label>
                <input asp-for="Files"  name="files" class="form-control" type="file" multiple/>
                <span asp-validation-for="Files" class="small text-danger"></span>
                <div class="text-danger">
                    @Html.ValidationMessage("Files")
                </div>
            </div>
            <div class="form-group">
                <label asp-for=Text>Text<span class="text-danger">*</span></label>
                <textarea rows="3" asp-for="Text" class="form-control" placeholder="I was very fat..."></textarea>
                <span asp-validation-for="Text" class="small text-danger"></span>
            </div>
            <button type="submit" class="btn custom-btn">@ViewBag.ButtonName</button>
        </form>
    </div>

</div>