@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="vertical-align: central">
    <p style="color: black; font-size: 130px; font-family: 'Script MT'">VBoutique</p>
</div>
