@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center">
    <div class="col-md-12">
        <img src="/he.png" style="max-width: 100%;"/>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12">
        <h2 style="color: #07cde0;">Всичко за дома, събрано на едно място</h2>
    </div>
</div>
