@page
@model VBoutique.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-md-4 offset-md-4" style="background-color: #fa9cc3; border-radius:5px; border: 1px solid black">
        <form method="post">
            <div class="text-center mb-2 mt-2">
                <h5>Направи поръчка</h5>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.FirstName" class="control-label">Име</label>
                <input asp-for="Order.FirstName" class="form-control" />
                <span asp-validation-for="Order.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.LastName" class="control-label">Фамилия</label>
                <input asp-for="Order.LastName" class="form-control" />
                <span asp-validation-for="Order.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.DeliveryAddress" class="control-label">Адрес</label>
                <input asp-for="Order.DeliveryAddress" class="form-control" />
                <span asp-validation-for="Order.DeliveryAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.PhoneNumber" class="control-label">Телефон</label>
                <input asp-for="Order.PhoneNumber" class="form-control" />
                <span asp-validation-for="Order.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Order.ShoppingCartId" class="control-label"></label>
                <input asp-for="Order.ShoppingCartId" class="form-control" value="@ViewBag.CartId"/>
                <span asp-validation-for="Order.ShoppingCartId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Order.UserId" class="control-label"></label>
                <input asp-for="Order.UserId" class="form-control" value="@ViewBag.UserId" />
            </div>
            <div class="form-group" hidden>
                <label asp-for="Order.LastModified_19118155" class="control-label"></label>
                <input asp-for="Order.LastModified_19118155" class="form-control" />
                <span asp-validation-for="Order.LastModified_19118155" class="text-danger"></span>
            </div>
            <div class="form-group text-center mb-2 mt-2">
                <input type="submit" value="Поръчай" class="btn" style="background-color: #feb6c0" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
