@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ресторант АПЕЛ</h1>
    <div>
        <img src="/start.png" style="height: 300px; width: 300px;"/>
    </div>
    <h5>
        Топла и вкусна храна, доставена бързо до вашия дом!
    </h5>
    
</div>
