@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Styles{
    <link rel="stylesheet" href="~/css/BG.css"/>
    <link rel="stylesheet" href="~/css/index.css"/>
}
<div class="container-fluid d-flex align-items-center justify-content-center">
    <div id="message-box" class="col-md-6">
        <h1 class="mb-4"><span id="agency">Exotic Travel</span><br />Най-добрата туристическа агенция</h1>
    </div>
</div>