
@{
    ViewBag.Title = "Home";
}

@section Styles{
    <link rel="stylesheet" href="~/css/HomePage.css" />
}
<div class="section">

    
    <div class="text-and-btn">
        <h1> It's never too late to start</h1>
        <a id="btn" href="/Customers/TrainingReservation" class="btn btn-primary">Start Now</a>
    </div>
    <div class="video-container">
        <div class="color-overlay"></div>
        <video autoplay loop muted>
            <source src="~/lib/videos/video.mp4" type="video/mp4" />
        </video>
    </div>
</div>
