.container-scroll {
    max-height: 540px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-scroll::-webkit-scrollbar {
    display: none;
}
.card {
    background-color: rgba(165,233,250,0.8);
    border-radius: 10px !important;
    height: 450px;
    width: 400px;
}

.text-cont {
    overflow: auto;
    background-color: rgba(128, 128, 128, 0.2);
    max-height: 300px;
    border-radius: 10px;
}

.text-cont p{
    margin: 10px 10px 10px 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.pagination-info {
    font-size: 20px;
}

#left-plane {
    transform: rotate(-135deg) !important;
}

.fa-plane{
    text-decoration: none;
    color: black;
}
