@page
@model SteliTour.Pages.Reservations.PaymentModel
@section styles{
    <link rel="stylesheet" href="~/css/BG.css"/>
}
@section Scripts {
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const stripe = Stripe('pk_test_51Mv2hWHyyNPNabXc9fvlqEn7S9MFj0MC83ymaSgV04JsYkLFl0EjXiCjL7cyPKk8LAxdINONsDSQnVnWQVdzfGgF00hYRhhhxh');
        const options = {
            clientSecret: '@(Model.StripeToken)',
            appearance: {
                theme: 'stripe'
            },
        };
        const elements = stripe.elements(options);
        const paymentElement = elements.create('payment');
        paymentElement.mount('#payment-element');
        const form = document.getElementById('payment-form');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const { error } = await stripe.confirmPayment({
                elements,
                confirmParams: {
                    return_url: `https://${window.location.host}/Reservations/PaymentResponseModel?id=@Model.Id`,
                },
            });
            if (error) {
                const messageContainer = document.querySelector('#alertmessage');
                messageContainer.textContent = error.message;
                messageContainer.style.display = 'block';
            }
        });
    </script>
}
<div class="row">
    <div id="alert-container" class="mt-3">
        <div id="alert-message" class="alert alert-danger" role="alert"
             style="display:none;">
        </div>
    </div>
    <form id="payment-form" data-secret="@Model.StripeToken">
        <div id="payment-element">
        </div>
        <button id="submit" class="btn btn-primary">Плати</button>
    </form>
</div>