@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@section Styles{
   <link rel="stylesheet" href="/css/AllCreateAndEditPages.css"/>
}

<div class="section">
    <div class="color-overlay"></div>
    <div class="wrapper col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <div class="text-center mt-4 mb-4 name">
            <h3>@ViewData["Title"]</h3>
        </div>
        <partial name="_StatusMessage" for="StatusMessage" />
        <div class="row">
            <div>
                <div class="logo mb-5">
                    <img src="~/lib/Images/logo.png" alt="">
                </div>
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-2">
                        <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.OldPassword" class="form-label"></label>
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-2">
                        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.NewPassword" class="form-label"></label>
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-2">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="custom-btn w-100 btn btn-lg btn-primary" style="color:black">Update password</button>
                </form>
            </div>
        </div>
    </div>
 </div>
@section Scripts {
   <partial name="_ValidationScriptsPartial" />
}
