@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex justify-content-center align-items-center bg-image" style="margin-top: 100px;">
    <div class="overlay text-center">
        <h1 class="text-dark" >Добре дошли</h1>
        <h1 class="text-dark">В най-добрият онлайн магазин за авточасти!</h1>
    </div>
</div>