@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link rel="stylesheet" href="/css/Home.css"/>
}

<div class="d-flex justify-content-center align-items-center bg-image">
    <div class="overlay text-center">
        <h1 class="display-4 text-light">Добре дошли</h1>
        <p class="text-light">тук ще намерите най-добрите части на най-ниските цени</p>
    </div>
</div>

