@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
@section Styles{
   <link rel="stylesheet" href="/css/AllCreateAndEditPages.css"/>
}

<div class="section">
    <div class="color-overlay"></div>
    <div class="wrapper col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <div class="text-center mt-4 mb-4 name">
           <h1>@ViewData["Title"]</h1>
            <h2>Enter your email.</h2>
        </div>
        
        <div class="row">
            <div>
                <form method="post">
                    <div class="logo mb-5">
                        <img src="~/lib/Images/logo.png" alt="">
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-2">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn custom-btn btn-lg btn-primary text-black">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
