a.reject {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

a.reject:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    text-decoration: none;
}

.btn-primary {
    background-color: blue;
    border-color: blue;
}

.btn-success {
    background-color: green;
    border-color: green;
}
